<a href="https://colab.research.google.com/github/HemantTiwariGitHub/IntelligenceCodes/blob/master/LendingClub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', 2000)
pd.set_option('display.width', 2000)

In [3]:

!unzip /content/loan.zip

Archive:  /content/loan.zip
  inflating: loan.csv

In [4]:
# suggested encoding is UTF8
loan = pd.read_csv('loan.csv', encoding='utf8')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
#Following CRISP-DM Methodology
#check and understand data
loan.head(2)

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade emp_title emp_length home_ownership  annual_inc verification_status issue_d  loan_status pymnt_plan                                                url                                               desc      purpose     title zip_code addr_state   dti  delinq_2yrs earliest_cr_line  inq_last_6mths  mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv  total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  mths_since_last_major_derog  policy_code application_type  annual_inc_joint  dti_joint  verification_status_joint  acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  mths_since_recent_inq  mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
0  1077501    1296599       5000         5000          4975.00   36 months   10.65%       162.87     B        B2       NaN  10+ years           RENT    24000.00            Verified  Dec-11   Fully Paid          n  https://lendingclub.com/browse/loanDetail.acti...    Borrower added on 12/22/11 > I need to upgra...  credit_card  Computer    860xx         AZ 27.65            0           Jan-85               1                     nan                     nan         3        0      13648     83.70%          9                   f       0.00           0.00      5863.16          5833.84          5000.00         863.16                0.00        0.00                     0.00       Jan-15           171.62          NaN             May-16                        0.00                          nan            1       INDIVIDUAL               nan        nan                        nan               0           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00            0                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.00       0.00              nan                nan             nan                         nan
1  1077430    1314167       2500         2500          2500.00   60 months   15.27%        59.83     C        C4     Ryder   < 1 year           RENT    30000.00     Source Verified  Dec-11  Charged Off          n  https://lendingclub.com/browse/loanDetail.acti...    Borrower added on 12/22/11 > I plan to use t...          car      bike    309xx         GA  1.00            0           Apr-99               5                     nan                     nan         3        0       1687      9.40%          4                   f       0.00           0.00      1008.71          1008.71           456.46         435.17                0.00      117.08                     1.11       Apr-13           119.66          NaN             Sep-13                        0.00                          nan            1       INDIVIDUAL               nan        nan                        nan               0           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00            0                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.00       0.00              nan                nan             nan                         nan

In [6]:
#general statistics understanding 
loan.describe()

              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  installment  annual_inc      dti  delinq_2yrs  inq_last_6mths  mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  revol_bal  total_acc  out_prncp  out_prncp_inv  total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  last_pymnt_amnt  collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  annual_inc_joint  dti_joint  verification_status_joint  acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  mths_since_recent_inq  mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
count   39717.00   39717.00   39717.00     39717.00         39717.00     39717.00    39717.00 39717.00     39717.00        39717.00                14035.00                 2786.00  39717.00 39717.00   39717.00   39717.00   39717.00       39717.00     39717.00         39717.00         39717.00       39717.00            39717.00    39717.00                 39717.00         39717.00                    39661.00                         0.00     39717.00              0.00       0.00                       0.00        39717.00          0.00         0.00         0.00        0.00         0.00         0.00                0.00          0.00     0.00         0.00         0.00        0.00      0.00              0.00    0.00         0.00          0.00                  0.00         0.00            0.00     0.00                  39661.00     39717.00                0.00                  0.00                   0.00            0.00      0.00                  0.00                      0.00                   0.00                            0.00                   0.00            0.00             0.00         0.00       0.00       0.00           0.00           0.00                 0.00      0.00              0.00          0.00                0.00                0.00            0.00              0.00              39020.00   39678.00             0.00               0.00            0.00                        0.00
mean   683131.91  850463.56   11219.44     10947.71         10397.45       324.56    68968.93    13.32         0.15            0.87                   35.90                   69.70      9.29     0.06   13382.53      22.09      51.23          50.99     12153.60         11567.15          9793.35        2263.66                1.36       95.22                    12.41          2678.83                        0.00                          nan         1.00               nan        nan                        nan            0.00           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00         0.00                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.04       0.00              nan                nan             nan                         nan
std    210694.13  265678.31    7456.67      7187.24          7128.45       208.87    63793.77     6.68         0.49            1.07                   22.02                   43.82      4.40     0.24   15885.02      11.40     375.17         373.82      9042.04          8942.67          7065.52        2608.11                7.29      688.74                   148.67          4447.14                        0.00                          nan         0.00               nan        nan                        nan            0.00           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00         0.00                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.20       0.00              nan                nan             nan                         nan
min     54734.00   70699.00     500.00       500.00             0.00        15.69     4000.00     0.00         0.00            0.00                    0.00                    0.00      2.00     0.00       0.00       2.00       0.00           0.00         0.00             0.00             0.00           0.00                0.00        0.00                     0.00             0.00                        0.00                          nan         1.00               nan        nan                        nan            0.00           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00         0.00                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.00       0.00              nan                nan             nan                         nan
25%    516221.00  666780.00    5500.00      5400.00          5000.00       167.02    40404.00     8.17         0.00            0.00                   18.00                   22.00      6.00     0.00    3703.00      13.00       0.00           0.00      5576.93          5112.31          4600.00         662.18                0.00        0.00                     0.00           218.68                        0.00                          nan         1.00               nan        nan                        nan            0.00           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00         0.00                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.00       0.00              nan                nan             nan                         nan
50%    665665.00  850812.00   10000.00      9600.00          8975.00       280.22    59000.00    13.40         0.00            1.00                   34.00                   90.00      9.00     0.00    8850.00      20.00       0.00           0.00      9899.64          9287.15          8000.00        1348.91                0.00        0.00                     0.00           546.14                        0.00                          nan         1.00               nan        nan                        nan            0.00           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00         0.00                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.00       0.00              nan                nan             nan                         nan
75%    837755.00 1047339.00   15000.00     15000.00         14400.00       430.78    82300.00    18.60         0.00            1.00                   52.00                  104.00     12.00     0.00   17058.00      29.00       0.00           0.00     16534.43         15798.81         13653.26        2833.40                0.00        0.00                     0.00          3293.16                        0.00                          nan         1.00               nan        nan                        nan            0.00           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00         0.00                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  0.00       0.00              nan                nan             nan                         nan
max   1077501.00 1314167.00   35000.00     35000.00         35000.00      1305.19  6000000.00    29.99        11.00            8.00                  120.00                  129.00     44.00     4.00  149588.00      90.00    6311.47        6307.37     58563.68         58563.68         35000.02       23563.68              180.20    29623.35                  7002.19         36115.20                        0.00                          nan         1.00               nan        nan                        nan            0.00           nan          nan          nan         nan          nan          nan                 nan           nan      nan          nan          nan         nan       nan               nan     nan          nan           nan                   nan          nan             nan      nan                      0.00         0.00                 nan                   nan                    nan             nan       nan                   nan                       nan                    nan                             nan                    nan             nan              nan          nan        nan        nan            nan            nan                  nan       nan               nan           nan                 nan                 nan             nan               nan                  2.00       0.00              nan                nan             nan                         nan

In [7]:
#understand rows and columns
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [10]:
#check the values of most important field of loan status
loan['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current'], dtype=object)

In [12]:
#Need to analyze factors which make loan "Fully Paid" vs "Charged off".
#For this need to remove the loans which are current.
group

AttributeError: ignored